@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-md {
    @apply text-[24px] leading-[140%] font-bold;
  }

  .title-sm {
    @apply text-[18px] leading-[140%] font-bold;
  }

  .subtitle-md {
    @apply text-[14px] leading-[140%] font-bold uppercase;
  }

  .subtitle-sm {
    @apply text-[12px] leading-[140%] font-bold uppercase;
  }

  .text-md {
    @apply text-[16px] leading-[140%] font-normal;
  }

  .text-sm {
    @apply text-[14px] leading-[140%] font-normal;
  }

  .text-xs {
    @apply text-[12px] leading-[140%] font-normal;
  }

  .grid-areas-layout {
    display: grid;
    grid-template-areas:
      "user"
      "loyalty"
      "progress"
      "appointments";
    gap: 16px;
  }

  @media (min-width: 768px) {
    .grid-areas-layout {
      grid-template-areas:
        "user loyalty"
        "appointments loyalty"
        "appointments progress";
      grid-template-columns: 320px auto;
      grid-template-rows: auto;
    }

    .area-user {
      grid-area: user;
    }

    .area-loyalty {
      grid-area: loyalty;
    }

    .area-progress {
      grid-area: progress;
    }

    .area-appointments {
      grid-area: appointments;
    }
  }
}

::selection {
  @apply bg-principal-pink/60;
}
